.container {
  position: relative;
  width: 280px;
  height: 459px;
  left: 25px;
 
}
.image {
  position: absolute;
  width: 259.12px;
  height: 260px;
  left: 20px;
}
.title {
  position: absolute;
  width: 280px;
  height: 24px;
  top: 244px;

  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.01em;

  color: #000000;
}
.btn_group {
  position: relative;
  width: 280px;
  height: 120px;
  /* left: 112px; */
  top: 290px;
}
.btn_thin {
  /* position: absolute; */
  width: 138.99px;
  height: 32px;
  left: 117.73px;
  top: 697px;

  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}
.btn_traditional {
  /* position: absolute; */
  width: 138.99px;
  height: 32px;
  left: 255.34px;
  top: 697px;

  border-radius: 5px;
}
.btn_26 {
  /* position: absolute; */
  width: 93.01px;
  height: 32px;
  left: 117.73px;
  top: 736px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}
.btn_30 {
  /* position: absolute; */
  width: 93.01px;
  height: 32px;
  left: 209.47px;
  top: 736px;

  border-radius: 5px;
}
.btn_40 {
  /* position: absolute; */
  width: 92.01px;
  height: 32px;
  left: 301.21px;
  top: 736px;

  border-radius: 5px;
}
.cost {
  display: inline-block;
  margin-right: auto;
  width: 89px;
  height: 27px;
  margin-top: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: 0.015em;

  color: #000000;
}
.btn_add {
  position: relative;
  width: 155px;
  height: 40px;
  left: 34px;

  background: #ffffff;
  border: 1px solid #eb5a1e;
  box-sizing: border-box;
  border-radius: 30px;
}
